widget{
    width:auto;
    height:60px;
    }
box#double_row_icon_widget{ 
    direction: ltr;
    block-progression:tb;
 		nav-index:appearance;
}
box#double_row_icon_widget:focus{
	  touchfeedbackdown: basic;
	  touchfeedbackdrag: sensitive; 
    background-image: "SKIN(268458534 24576)";
    background-color: "SKIN(268458534 5120 9)";
}

box.row{
    direction: ltr;
    block-progression:rl;
    padding-left  : 10px;
    padding-right : 10px;
}
box#double_rc_row1_box{
    padding-top   : 2px;
    padding-bottom: 2px;
}
box#double_rc_row2_box{
    padding-top   : 2px;
    padding-bottom: 2px;
}

box.imagebox
{
    height:auto;
    width:20px;
    direction: ltr;
}

box.textbox
{
    padding-left  : 10px;
    direction: ltr;
    width:auto;
    height:20px;
}

text
{
    width:auto;
    height:auto;
    display: block;
    visibility: visible;
    position: static;
    direction: ltr;
    block-progression:tb;
    text-align:left;
	  font-family: EAknLogicalFontPrimaryFont;
	  font-size:18px;
    color:white;
}

image
{
  _s60-aspect-ratio:preserve;
}

