view 
{
    direction: rtl;
    block-progression: tb;
    background-image: wallpaper;
    swipe: true;

    _s60-status-pane-layout: widescreen-flat-3softkeys;
}

box#plugins_container
{
    direction: rtl;
    block-progression: tb;
}

plugin.miniplugins
{
    height: 115px; 
    width: 176px;

    margin-top: 9px;
    margin-right: 9px;
 
    _s60-longtap: true;

    nav-index: appearance;
}

plugin.plugins
{
    height: 115px; 
    width: 436px;

    margin-top: 9px;
    margin-right: 10px;
 
    _s60-longtap: true;

    nav-index: appearance;
}

trigger#hs_popup_open_hold:edit
{
    display: none;
}

trigger#hs_popup_open_up
{
    display: none;
}

trigger#hs_popup_open_up:edit
{
    display: block;
}

softkey#rsk
{
    _s60-longtap: true;
    _s60-aspect-ratio: preserve;
}

softkey#msk_ltr
{
    display: none;
}

softkey#msk_rtl
{
    display: block;
}


