widget#desktop_widget
{
    block-progression: rl;
    direction: rtl;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    background-color: none;
}

button.button
{
    width: 74px;
    margin-right: 3px;
    nav-index: appearance;
}

button#button1
{
    margin-left: 0px;
}

button#button6
{
    margin-right: 0px;
}

image.icon
{
    _s60-aspect-ratio: preserve;
}

/* For presence */
image.second_icon
{
    margin-top:0%;
    width: 25%;
    height: 25%;
    position: absolute;
    bottom: 0%;
    left: 70%;
    top: 3%;
    _s60-aspect-ratio:preserve;
}

tooltip.tooltip
{
    width: adaptive;
    max-width: 350px;
    height: 33px;
    border-style: solid;
    border-width: 5px;

    _s60-start-delay: 1000000;
    _s60-display-time: 1000000;

    background-color:"SKIN(268458534 8480)";

    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
}


text.tooltiptext
{
    position: static;
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 23px;
    width: adaptive;
    height: 85%;
    text-align: center;
    color: "SKIN(268458534 13056 19)";
    overflow: visible;
    padding-right: 1u;
    padding-left: 1u;
    padding-bottom: 1u;
}

/*********************
      extension
**********************/
tooltip.tooltipext
{
    width: 15.0u;
    height: adaptive;
    border-style: solid;
    border-width: 5px;
    /* delay comes from the xSP server */
    _s60-start-delay: 0;
    _s60-display-time: 60000000; /* 6 sec */
    background-color:"SKIN(268458534 8480)";
    overflow: visible;
    display: none;
    block-progression: tb;
    padding-bottom: 1u;
    padding-right: 2u;
    padding-left: 2u;
    padding-top: 1u;
}

text.textcaptionext
{
    position: static;
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 3.5u;
    font-weight: bold;
    text-align: center;
    width: 30u;
    height: 5u;
    color: "SKIN(268458534 13056 19)";
    overflow: visible;
    display: block;
    visibility:visible;
}

text.textext
{
    position: static;
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 3.5u;
    text-align: left;
    width: 30u;
    height: 5u;
    color: "SKIN(268458534 13056 19)";
    overflow: visible;
    display: block;
    visibility:visible;
}
