text.text_box
{
    padding-left:11px;
    padding-right:11px;
    text-align:left;
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 30px;
    color: "SKIN(268458534 13056 74)";
    nav-index:appearance;
    _s60-text-valign: top;
}
