widget#wideimage_template
{
    nav-index: appearance;
    block-progression:rl;
    direction: ltr;
}

box#image_container
{
    /* Will be updated by content policy */
    display: none;
}
box#default_container
{
    /* Will be updated by content policy */
   display: block;
}

image#w_default_image
{
    padding-top:9px;
    padding-bottom:9px;
    padding-left:9px;
    padding-right:9px;
    height: 64px;
    width: 64px;
}

text#w_default_text
{
    padding-left:9px;
    padding-right:9px;
    height : 10u;
    font-line-space: 15;
    direction: ltr;
    text-align:left;
    text-overflow-mode: wrap;
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 4u;
    color: "SKIN(268458534 13056 74)";
}

animation#loading
{
	position: absolute;
	top:9px;
	left:273px;
	right:9px;
	width:30px;
	height:30px;
	/* Will be updated by dataplugin */
	display: none;
}
