widget{
    width:auto;
    height:30px;
    }
box#single_row_widget{ 
    direction: ltr;
    block-progression:tb;
 		nav-index:appearance;
}
box#single_row_widget:focus{
    background-image: "SKIN(268458534 24576)";
    background-color: "SKIN(268458534 5120 9)";
}
box#single_text_box
{
    padding-top   : 2px;
    padding-bottom: 2px;
    padding-left  : 10px;
    padding-right : 10px;
    direction: ltr;
}
text
{
    width:auto;
    height:auto;
    display: block;
    visibility: visible;
    position: static;
    direction: ltr;
    block-progression:tb;
    text-align:left;
	  font-family: EAknLogicalFontPrimaryFont;
	  font-size:18px;
    color:white;
}

