widget#posterwideimage_template
{
    padding-top: 5px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 7px;
    nav-index:appearance;
    background-color: none;
}

image#wide_image
{
    display: none;
}

text#wide_text
{
    padding-left: 7px;
    text-align: center;
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 32px;
    color: "SKIN(268458534 13056 74)";
}


