view 
{
    direction: ltr;
    block-progression: tb;
    background-image: wallpaper;
    swipe: true;

    _s60-status-pane-layout: widescreen-flat-3softkeys;
}

box#plugins_container
{
    direction: ltr;
    block-progression: tb;
    padding-top: 3px;
}

plugin.plugins
{
    height: 82px; 
    width: 312px; 

    margin-bottom: 4px;
    margin-right: 5px;
    margin-left: 5px;

    _s60-longtap: true;

    nav-index: appearance;
}

plugin:edit
{
    background-color:"SKIN(270501603 8582)";
}

image.widget_indication
{
    display: none;
    position: absolute;

    left: auto;        
    right: 3px;
    top: 5px;
    
    height: 26px; 
    width: 26px;
    
    path: "SKIN(270501603 9252)";
    _s60-aspect-ratio: preserve;
    z-index: 2;       
}

image.widget_indication:edit
{
    display: block;
}

trigger#hs_popup_open_hold:edit
{
    display: none;
}

trigger#hs_popup_open_up
{
    display: none;
}

trigger#hs_popup_open_up:edit
{
    display: block;
}

softkey#rsk
{
    _s60-longtap: true;
    _s60-aspect-ratio: preserve;
}  

softkey#msk_ltr
{
    display: block;
}

softkey#msk_rtl
{
    display: none;
}
