widget#profilewidget
{
    background-color: "SKIN(268458534 9916)";
    direction: ltr;
    block-progression: tb;
		nav-index: appearance;    
}

box#marginbox1
{
	display: block;
	width: auto;
	height: 15px;
}

box#profileiconbox
{
	padding-top: 8px;
	padding-bottom: 3px;
	height: 32px;
	width: auto;
}

image#profileicon
{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	width: 32px;
	height: 32px;	
}

box#marginbox2
{
	display: block;
	width: auto;
	height: 3px;
}

box#profilenamebox
{
	height: 32px;
	width: auto;
}

text#profilename
{
	/*
	padding-left: 9px;
	padding-right: 9px;	
	*/
	height: 32px;
  text-align: center;
  display: block;
  visibility: visible;
  width: auto;
  font-family: EAknLogicalFontSecondaryFont;
  /* font-size: 32px; */
  font-size: 30px;
  color: "SKIN(268458534 13056 74)";
}

/*
box#profile_softindicator
{
	display: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    direction: ltr;
}

image#SatIdleModeIcon
{
    display: none;
    width: 18px;
    height: 20px;
    position: static;
    margin-top: auto;
}
*/
/* Default system profiles */
text.systemprofileitem
{
    display: block;
}

/* Placeholders for profiles added by user */
text.userprofileitem
{
    display: none;
}

/******************
    SOFT INDICATOR WIDGET AREA 
*******************/
/*
newsticker.SIText
{
    text-align: center;
    display: block;
    visibility: visible;
    width: auto;
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 32px;
    color: "SKIN(268458534 13056 74)";
    
    white-space-collapse: collapse;
    
    _s60-scroll-behaviour: scroll-alternate;
    
    _s60-display-time: 2000;
    _s60-scroll-loop: false;
    _s60-start-delay: 0;
    _s60-restart-after-update: true;
}
*/

newsticker#indicator
{
	  padding-left: 9px;
	  padding-right: 9px;
    text-align: center;
    display: none;
    visibility: visible;
    width: auto;
    height: 32px;
    font-family: EAknLogicalFontSecondaryFont;
    /* font-size: 32px; */
    font-size: 30px;
    color: "SKIN(268458534 13056 74)";
    
    white-space-collapse: collapse;
    
    _s60-scroll-behaviour: scroll-alternate;
    
    _s60-display-time: 2000;
    _s60-scroll-loop: false;
    _s60-start-delay: 0;
    _s60-restart-after-update: true;
}

box#NT_CUGMCN
{
	  display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* width: adaptive; */
    width: auto;
    height: auto;
    block-progression: rl;
}

box#NT_SATVHZ
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* width: adaptive; */
    width: auto;
    height: auto;
    block-progression: rl;
}

title#title_vhz
{
    display: none;
}

title#title_sat
{
    display: none;
}
