widget#profilewidget
{
    background-color: none;
}

box#clock_profile_container
{
    direction: rtl;
    block-progression: lr;
}

clock#clock
{
    width: 152px;
    margin-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    _s60-format: locale;
    _s60-font-size: 56px;
    color: "SKIN(268458534 13056 74)";
    background-color: "SKIN(268458534 9916)";
    nav-index: appearance;
}

ampm
{
	position: absolute;
	width: 46px;
	height: 20px;
	left: 88px;
	top: 60px;
	text-align: right;
	_s60-font-size: 16px;
}

box.clock_profile
{
    background-color: "SKIN(268458534 9916)";
        
    nav-index: appearance;
}

box#date_profiles_container
{
    width: auto;
    block-progression: tb;
}

clock#date_content
{
    width: auto;
    height: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    padding-bottom: 2px;
    color:"SKIN(268458534 13056 74)";
    background-color: "SKIN(268458534 9916)";
    nav-index: appearance;
}

date
{
	  _s60-font-size: 3.5u;
}

box#profile_softindicator
{    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    direction: rtl;
}

image#SatIdleModeIcon
{
    display: none;
    width: 18px;
    height: 20px;
    position: static;
    margin-top: auto;
}

/* Default system profiles */
text.systemprofileitem
{
    display: block;
}

/* Placeholders for profiles added by user */
text.userprofileitem
{
    display: none;
}

/******************
    SOFT INDICATOR WIDGET AREA 
*******************/
newsticker.SIText
{
    text-align: center;
    display: block;
    visibility: visible;
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 23px;
    color: "SKIN(268458534 13056 74)";
    
    white-space-collapse: collapse;
    
    _s60-scroll-behaviour: scroll-alternate;
    
    _s60-display-time: 5000;
    _s60-start-delay: 2000;
    _s60-scroll-loop: false;
    _s60-restart-after-update: true;
}

box#NT_CUGMCN
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: adaptive;
    height: auto;
    block-progression: rl;
}

box#NT_SATVHZ
{
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: adaptive;
    height: auto;
    block-progression: rl;
}

title#title_vhz
{
    display: none;
}

title#title_sat
{
    display: none;
}
