widget{
    width: auto;
    height: 90px;
    }
box#triple_row_widget{ 
    direction: rtl;
    block-progression:tb;
 		nav-index: appearance;
}
box#triple_row_widget:focus{
	  touchfeedbackdown: basic;
	  touchfeedbackdrag: sensitive; 
    background-image: "SKIN(268458534 24576)";
    background-color: "SKIN(268458534 5120 9)";
}
box.triple_text_box{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    direction: ltr;
}

text{
    width: auto;
    height: auto;
    display: block;
    visibility: visible;
    position: static;
    direction: rtl;
    block-progression: tb;
    text-align: right;
	  font-family: EAknLogicalFontPrimaryFont;
	  font-size:18px;
    color:white;
}
