HbWidget {
    margin-left: 0un;
    margin-top: 0un;
}

SnsrOledClockWidget {
    layout: layout_1;
}

SnsrOledClockWidget::oled_clock_background {
    pref-height: 32.8un;
    pref-width: 32.8un;
    zvalue: 0;
}

SnsrOledClockWidget::oled_clock_hour_hand {
    pref-height: 32.8un;
    pref-width: 32.8un;
    zvalue: 4;
}

SnsrOledClockWidget::oled_clock_minute_hand {
    pref-height: 32.8un;
    pref-width: 32.8un;
    zvalue: 3;
}
