/* Colors for different states for different parts of UI */

/* Each CSS variable here referes to a color group having colors for enabled, disabled, focused and non-focused states in that order */

@variables
{
snsrforeground:#BB0000,#BB0000,#BB0000,#BB0000;
snsrbackground:#FFE100,#FFE100,#FFE100,#FFE100;
}

SnsrLabel
{
background:var(snsrbackground);
foreground:var(snsrforeground);
text:var(snsrforeground);
}