widget#shortcutPlugin2
{ 
    width: auto;
    height: 70px;
    
    block-progression: rl;
    direction: ltr;  
}

button.shortcutButton 
{ 
    width: 70px;
    height: auto;
    
    nav-index: appearance;
    
    margin-left: 4px;
    margin-right: 4px;
    
    background-color: "SKIN(268458534 9906)";            
}

button#shortcutButton7
{  
    margin-left: 0px;
}

button#shortcutButton12
{
    margin-right: 0px;  
}

button.shortcutButton:focus 
{
    focus-background: "SKIN(268458534 5120 9)";	
}

image.shortcutIcon 
{ 
    width: auto;
    height: auto;
    
    _s60-aspect-ratio: preserve;
}

tooltip.shortcutTooltip 
{ 
    width: adaptive;
    max-width: 430px;
    height: 5.5u;
    
    border-style: solid; 
    border-width: 5px; 
    
    _s60-start-delay: 1000000;
    _s60-display-time: 1000000;
    
    background-color:"SKIN(268458534 8480)";
    display: block;    
    padding-left: 8px;
    padding-right: 8px;
}


text.shortcutTooltipText 
{ 
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 23px;
    width: adaptive;
    color: "SKIN(268458534 13056 19)";
}

/*********************
	xSP
**********************/
tooltip.shortcutTooltipXsp 
{ 
    width: 15.0u;
    height: adaptive;
    border-style: solid; 
    border-width: 5px; 
    /* delay comes from the xSP server */
    _s60-start-delay: 0;
    _s60-display-time: 60000000; /* 6 sec */
    background-color:"SKIN(268458534 8480)";
    overflow: visible;
    display: none;    
    block-progression: tb;
    padding-bottom: 1u;
    padding-right: 2u;
    padding-left: 2u;
    padding-top: 1u;
    _s60-position-hint: aboveleft; 
}

text.shortcutTextCaptionXsp 
{ 
    position: static;
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 3.5u;
    font-weight: bold;
    text-align: center;
    width: 30u;
    height: 5u;
    color: "SKIN(268458534 13056 19)";
    overflow: visible;
    display: block;
    visibility:visible;
}

text.shortcutTextXsp 
{ 
    position: static;
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 3.5u;	
    text-align: left;	
    width: 30u;
    height: 5u;
    color: "SKIN(268458534 13056 19)";
    overflow: visible; 
    display: block;
    visibility:visible;
}
