text.text_box
{
    padding-left:8px;
    padding-right:8px;
    text-align: right;
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 23px;
    color: "SKIN(268458534 13056 74)";
    nav-index:appearance;
    _s60-text-valign: top;
}
