widget#threerows_template
{
    direction: rtl;
    block-progression:rl;
}

image#image_container
{
    height: 70px;
    width: 70px;
    margin-top:3px;
    margin-bottom:3px;
    margin-left:3px;
    margin-right:2px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:3px;
    padding-right:3px;
    nav-index:appearance;
    _s60-aspect-ratio:preserve;
}

box#text_container
{
    direction: ltr;
    block-progression:tb;
    margin-left:2px;
    margin-right:3px;
}

text.text_box
{
    padding-right:3px;
    padding-left:3px;
    padding-top:1px;
    padding-bottom:1px;
    direction: ltr;
    text-align: right;
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 3.5u;
    height:25px;
    color:"SKIN(268458534 13056 74)";
    nav-index:appearance;
    _s60-text-valign: top;
}
