HbWidget {
    margin-left: 0un;
    margin-top: 0un;
}

SnsrOledClockWidget {
    layout: layout_1;
}

SnsrOledClockWidget::oled_clock_background {
    pref-width: 40.0un;
    pref-height: 40.0un;
}

SnsrOledClockWidget::oled_clock_hour_hand {
    pref-height: 28.0un;
}

SnsrOledClockWidget::oled_clock_minute_hand {
    pref-height: 34.0un;
}

SnsrOledClockWidget::oled_clock_date_frame {
    pref-height: 10.0un;
}

SnsrOledClockWidget::oled_clock_date_label {
    pref-height: 10.0un;
}