HbWidget {
    margin-left: 0un;
    margin-top: 0un;
}

SnsrSwipeWidget {
    layout:layout-portrait;
}

SnsrSwipeWidget::slideLabel {
    text-align: AlignVCenter|AlignHCenter;
    pref-width: 224.0px;
    pref-height: hb-param-text-height-tiny;
    zvalue: 0;
}


SnsrSwipeWidget::slideIcon {
    text-align: AlignVCenter|AlignHCenter;
    pref-height: 25.0un;
    size-policy-vertical: fixed;
    pref-width: 25.0un;
    zvalue: 1;
}