HsAnalogClockWidget {
	layout: layout_1;
}

HsAnalogClockWidget::clock_background {
  fixed-width: 25.0un;
  fixed-height: 25.0un;
  zvalue: 0;
}

HsAnalogClockWidget::clock_minute_hand {
  fixed-width: 25.0un;
  fixed-height: 25.0un;
  zvalue: 1;
}

HsAnalogClockWidget::clock_hour_hand {
  fixed-width: 25.0un;
  fixed-height: 25.0un;
  zvalue: 2;
}
